* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  min-height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

header, main, footer {
  background-color: rgb(255, 198, 198);
}

header, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  flex: auto;
}

.login-page {
  justify-content: center;
}

button {
  padding: 0 2px;
}

li input {
  margin-right: 3px;
}

.button-padded {
  padding: 3px 5px;
}

.labeled-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  margin: 10px 0 0 3px;
}

.header-search-bar {
  display: flex;
  align-items: center;
  background-color: rgb(252, 161, 161);
  height: 40px;
  width: 80%;
  border-radius: 2vh;
  margin: 5px;
}

.header-search-filters {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: 5px;
}

.search-button {
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 2vh;
}

.search-input {
  text-align: center;
  height: 30px;
  width: 80%;
  border-radius:2vh;
}

.sideways-menu {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  padding: 5px;
  gap: 3px
}

.sideways-nav-bar button {
  padding: 4px 6px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.drop-down-menu {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 5px 0;
}

.drop-down-menu select {
  margin: 0 5px 0 5px;
}

.recipes-list {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  gap: 6px;
  flex-wrap: wrap;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  background-color: rgba(255,255,255,0.5); 
  min-width: 48%;
  width: calc(50% - 3px);
  border-radius: 15px;
  text-align: center;
  color: black;
  padding-bottom: 3px;
}

.recipe-card img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.recipe-card p {
  font-size: 14px;
}

.modal-background {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
}

.modal-window {
  background-color: white;
  text-align: center;
  width: 75%;
  padding: 20px;
  border-radius: 15px;
  z-index: 2;
}

.modal-window button {
  width: 50px;
}


.details-page {
  padding: 5px;
  gap: 10px
}

.details-page button {
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  min-height: 40px;
  width: 100%;
}

.details-page-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.details-page-section .section-background {
  background-color: rgba(255,255,255,0.5);
  border-radius: 10px;
  width: 100%;
}
.details-page-section .section-background.padded {
  padding: 10px;
}

.details-page-section.details-header .section-background {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-page .details-image {
  width: 100%;
  border-radius: 10px;
}

.details-page .details-name-bar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.horizontal-scroll {
  display: flex;
  gap: 6px;
  min-height: 220px;
  overflow: scroll;
}
